@model IEnumerable<Garage3.Models.ViewModels.ShowCustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">Register New Customer</button>
    </a>
</p>

<form asp-action="Filter" method="get">
    <div class="input-group">
        <input type="text" class="form-control" name="firstName" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
               Number of Owned Vehicles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @item.Vcount
                </td>
                <td>
                    <a asp-action="Index" asp-controller="VehiclesForCustomer" asp-route-id=@item.PersonalNumber>List Vehicle</a>
                    <a asp-action="Edit" asp-route-id="@item.PersonalNumber">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PersonalNumber">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PersonalNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
