@model Garage3.Models.ViewModels.VehiclesForCustomerViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Vehicles of  @Model.customer.FullName </h1>

<p>
    Personal number: @Model.customer.PersonalNumber
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Reg nr
            </th>
            <th>
                Type
            </th>
            <th>
                Color
            </th>
            <th>
                Make
            </th>
            <th>
               Wheels nr
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.vehicleViewModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegistrationNumber">Edit</a> |
                <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.RegistrationNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegistrationNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
