@model IEnumerable<Garage3.Models.ViewModels.ShowVehicleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Register New Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                Owner  
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsParked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.OwnerFullName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfWheels)
                </td>
                <td>
                    @if (item.IsParked)
                    {
                        <p>Parked</p>
                    }

                </td>
                <td>
                    @if (item.IsParked)
                    {
                        <a asp-action="CheckOut" asp-route-id="@item.RegistrationNumber">CheckOut</a>
                    }
                    else
                    {
                        <a asp-action="Park" asp-route-id="@item.RegistrationNumber">Park</a>
                    } |
                    <a asp-action="Edit" asp-route-id="@item.RegistrationNumber">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RegistrationNumber">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RegistrationNumber">Delete</a> |
                    <a asp-action="ShowReceipts" asp-route-id="@item.RegistrationNumber">ShowReceipts</a>
                </td>
            </tr>
        }
    </tbody>
</table>
